# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Coverage
coverage
.nyc_output

# Build
dist

# Node
*.tsbuildinfo
.node_repl_history
*.tgz

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Claude
.claude
